In [3]:
def square(a):
    print("valuue is = ",a)
    return a*a

value = float(input("enter a number-"))
square(value)

enter a number-13.4
valuue is =  13.4

179.56

In [4]:
count = 0
while(count < 5):
    print(count)
    count = count+1
else:
    print("count value reached ",count)

0
1
2
3
4
count value reached  5

In [5]:
count = 0
while(count < 6):
    print(count)
    if count==3:
        break
    count += 1

0
1
2
3

In [9]:
count = 100
while(count >= 70):
    print(count)
    count = count-1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70

In [1]:
count = 100
while(count >= 70):
    if count%2==0:
        print(count,"even number")
    else:
        print(count,"odd number")
    count -=1

100 even number
99 odd number
98 even number
97 odd number
96 even number
95 odd number
94 even number
93 odd number
92 even number
91 odd number
90 even number
89 odd number
88 even number
87 odd number
86 even number
85 odd number
84 even number
83 odd number
82 even number
81 odd number
80 even number
79 odd number
78 even number
77 odd number
76 even number
75 odd number
74 even number
73 odd number
72 even number
71 odd number
70 even number

In [2]:
friends = ['A','B','C',3.6]
for f in friends:
    print("Happy Diwali,",f)

Happy Diwali, A
Happy Diwali, B
Happy Diwali, C
Happy Diwali, 3.6

In [3]:
x = lambda a : a + 10
print(x(5))

15

In [4]:
g = lambda x: x*x*x
print(g(5))

125

In [7]:
fname = input("Enter the file name: ")
try:
    my_file = open(fname)
except FileNotFoundError:
    print("File cannot be opened",fname)
finally:
    print("This is a finally block which will always get executed")
    
count = 0
for line in my_file:
    print(line)
    count = count + 1
    
print("Line Count: ",count)

Enter the file name: D:/sample.txt
This is a finally block which will always get executed
This is a sample file.

Just trying to check

how to read and display the file conent
Line Count:  3

In [10]:
file_write = open(r'C:\Users\HP\Desktop\output_new.txt','w')

line1 = "Hey there!\n"
file_write.write(line1)

line2 = "What are you doing?\n"
file_write.write(line2)

file_write.close()

In [11]:
a = 10+2j
print(type(a))

<class 'complex'>

In [12]:
import math

In [13]:
print(math.sqrt(16))
print(math.ceil(10.6))

4.0
11

In [15]:
import random as rn
print(rn.random())
print(rn.randrange(50,100))

0.9759750413730585
87

In [17]:
number = rn.randrange(1,100)
value = int(input("Enter the number between 1 and 100: "))
if value > number:
    print("")
elif value < number:
    print("")

Enter the number between 1 and 100: 4

In [18]:
str1 = 'Hello'
str2 = 'World'

str1 = str1+" "+str2
print(str1)

Hello World

In [19]:
print("PyThon".lower())

string = "python,is,a,programming language."
print(string.upper().split(sep=","))

python
['PYTHON', 'IS', 'A', 'PROGRAMMING LANGUAGE.']

In [20]:
print("Happy Diwali".replace("p","d"))

Haddy Diwali

# LISTS

In [21]:
mylist1 = [1,2,3,5,3,2]
mylist2 = [1,4.2,'python',4.2]
print(mylist1)
print(mylist2)
print(type(mylist2))

[1, 2, 3, 5, 3, 2]
[1, 4.2, 'python', 4.2]
<class 'list'>

In [1]:
#append is used to add only a single element
#extend is used to add multiple elements

my_list = [1,3,6,9]

my_new_list = [4,5,6,7,8]
my_list.extend(my_new_list)
my_list.append("nikita")

print(my_list)

[1, 3, 6, 9, 4, 5, 6, 7, 8, 'nikita']

In [2]:
print(my_list)
del my_list[1:3]
my_list

[1, 3, 6, 9, 4, 5, 6, 7, 8, 'nikita']

[1, 9, 4, 5, 6, 7, 8, 'nikita']

# TUPLES

In [3]:
#mixed datatypes
#repetitive elements
#preserve the order
#immutable
c =()
print(type(c))

c = tuple("python")
print(c)

d = tuple([1,2,3,4,5])
print(d)

<class 'tuple'>
('p', 'y', 't', 'h', 'o', 'n')
(1, 2, 3, 4, 5)

# SETS

In [4]:
#mixed datatype elements
#unique elements allowed
#does not preserve the order
#does not support indexing
#mutable
my_set = {1,2,3,5,7,6,4,3,2,10,38,72,16}
print(my_set)

my_set = {1.0,1,"Hello","Manish",(1,2,4)}
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 38, 72, 10, 16}
{1.0, 'Manish', 'Hello', (1, 2, 4)}

In [5]:
my_set = {1,3}
print(my_set)

my_set.add(8)
print(my_set)

my_set.update([6,8,1,4,5])
print(my_set)

{1, 3}
{8, 1, 3}
{1, 3, 4, 5, 6, 8}

In [7]:
#Union and intersection

A = {1,2,3,4,5,9}
B = {4,5,6,7,8,10}

print(A | B)
print(A.union(B))

print(A & B)
print(A.intersection(B))

print(A - B)
print(B.difference(A))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{4, 5}
{4, 5}
{1, 2, 3, 9}
{8, 10, 6, 7}

In [8]:
a = {}
print(type(a))

<class 'dict'>

# DICTIONARIES

In [9]:
#{key:value,k:v}
#mixed datatype elements
#preserves the order
#no indexing supported
#accessing done using keys
#keys should be unique
#values could be repetitive
#mutable

In [11]:
#accessing values
my_d = {'name':'Nikita','age':40}
print(my_d['name'])

Nikita

In [12]:
#updating
my_d['age'] = 12
print(my_d)

my_d['address'] = 'Mumbai'
print(my_d)

{'name': 'Nikita', 'age': 12}
{'name': 'Nikita', 'age': 12, 'address': 'Mumbai'}

In [13]:
my_d.values()

dict_values(['Nikita', 12, 'Mumbai'])

In [14]:
my_d.keys()

dict_keys(['name', 'age', 'address'])

In [15]:
A = [1,2,3,4,5]
B = [6,7,8,9,10]

D = dict(zip(A,B))

In [16]:
D

{1: 6, 2: 7, 3: 8, 4: 9, 5: 10}