In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
training_data = pd.read_excel(r'C:\Users\HP\python_datasets\Titanic_Survival_Train.xls', index_col=0, header=0) 
testing_data = pd.read_excel(r'C:\Users\HP\python_datasets\Titanic_Survival_Test.xls', index_col=0, header=0)

In [3]:
training_data.tail()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [4]:
testing_data.tail()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [5]:
#feature selection
training_data = training_data[['Name','Pclass','Sex','Age','Survived']] 
testing_data = testing_data[['Name','Pclass','Sex','Age','Survived']] 
print(training_data.shape) 
print(testing_data.shape)

(891, 5)
(21, 5)

In [6]:
training_data.head()

,Name,Pclass,Sex,Age,Survived
PassengerId,,,,,
1,"Braund, Mr. Owen Harris",3,male,22.0,0
2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1
3,"Heikkinen, Miss. Laina",3,female,26.0,1
4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1
5,"Allen, Mr. William Henry",3,male,35.0,0

In [7]:
print(training_data.isnull().sum()) 
print(testing_data.isnull().sum())

Name          0
Pclass        0
Sex           0
Age         177
Survived      0
dtype: int64
Name        0
Pclass      0
Sex         0
Age         2
Survived    0
dtype: int64

In [8]:
#imputing numerical missing values with the mean
training_data['Age'].fillna(int(training_data["Age"].mean()), inplace=True) 
print(training_data.isnull().sum()) 

testing_data['Age'].fillna(int(training_data['Age'].mean()), inplace=True) 
print(testing_data.isnull().sum())

Name        0
Pclass      0
Sex         0
Age         0
Survived    0
dtype: int64
Name        0
Pclass      0
Sex         0
Age         0
Survived    0
dtype: int64

In [9]:
#transforming categorical to numerical
from sklearn import preprocessing
colname = ['Sex'] 
le = preprocessing.LabelEncoder() 

for x in colname:
    training_data[x] = le.fit_transform(training_data[x]) 
    testing_data[x] = le.fit_transform(testing_data[x])

In [10]:
print(training_data.head()) 
print(testing_data.head())

                                                          Name  Pclass  Sex  \
PassengerId
1                                      Braund, Mr. Owen Harris       3    1
2            Cumings, Mrs. John Bradley (Florence Briggs Th...       1    0
3                                       Heikkinen, Miss. Laina       3    0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)       1    0
5                                     Allen, Mr. William Henry       3    1

              Age  Survived
PassengerId
1            22.0         0
2            38.0         1
3            26.0         1
4            35.0         1
5            35.0         0
                                                         Name  Pclass  Sex  \
PassengerId
871                                         Balkic, Mr. Cerin       3    1
872          Beckwith, Mrs. Richard Leonard (Sallie Monypeny)       1    0
873                                  Carlsson, Mr. Frans Olof       1    1
874                               Vander Cruyssen, Mr. Victor       3    1
875                     Abelson, Mrs. Samuel (Hannah Wizosky)       2    0

              Age  Survived
PassengerId
871          26.0         0
872          47.0         1
873          33.0         0
874          47.0         0
875          28.0         1

In [11]:
X_train = training_data.values[:870,1:-1] 
Y_train = training_data.values[:870,-1] 
Y_train = Y_train.astype(int) 

X_test = testing_data.values[:,1:-1] 
Y_test = testing_data.values[:,-1] 
Y_test = Y_test.astype(int)

In [12]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler() 
scaler.fit(X_train) 

X_train = scaler.transform(X_train) 
X_test = scaler.transform(X_test)

In [14]:
from sklearn.neighbors import KNeighborsClassifier
model_knn = KNeighborsClassifier(n_neighbors=int(np.sqrt(len(X_train))),metric='euclidean') 
model_knn.fit(X_train, Y_train) 
Y_pred = model_knn.predict(X_test) 
print(list(zip(Y_test, Y_pred)))

[(0, 0), (1, 1), (0, 0), (0, 0), (1, 1), (1, 0), (0, 0), (0, 0), (0, 0), (1, 1), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (0, 0), (1, 0), (0, 0)]

In [16]:
from sklearn.metrics import confusion_matrix, classification_report
print(confusion_matrix(Y_test, Y_pred)) 
print(classification_report(Y_test, Y_pred))

[[14  0]
 [ 2  5]]
              precision    recall  f1-score   support

           0       0.88      1.00      0.93        14
           1       1.00      0.71      0.83         7

    accuracy                           0.90        21
   macro avg       0.94      0.86      0.88        21
weighted avg       0.92      0.90      0.90        21

In [17]:
from sklearn.metrics import accuracy_score
my_dict = {} 
for K in range(1,31):
    model_knn = KNeighborsClassifier(K, metric='euclidean') 
    model_knn.fit(X_train, Y_train) 
    Y_pred = model_knn.predict(X_test) 
    print('Accuracy is ',accuracy_score(Y_test, Y_pred),'for K value ',K) 
    my_dict[K] = accuracy_score(Y_test, Y_pred)

Accuracy is  0.8095238095238095 for K value  1
Accuracy is  0.8095238095238095 for K value  2
Accuracy is  0.8095238095238095 for K value  3
Accuracy is  0.8095238095238095 for K value  4
Accuracy is  0.8571428571428571 for K value  5
Accuracy is  0.8571428571428571 for K value  6
Accuracy is  0.8571428571428571 for K value  7
Accuracy is  0.9047619047619048 for K value  8
Accuracy is  0.8571428571428571 for K value  9
Accuracy is  0.8571428571428571 for K value  10
Accuracy is  0.8571428571428571 for K value  11
Accuracy is  0.9047619047619048 for K value  12
Accuracy is  0.9047619047619048 for K value  13
Accuracy is  0.9523809523809523 for K value  14
Accuracy is  0.9047619047619048 for K value  15
Accuracy is  0.9047619047619048 for K value  16
Accuracy is  0.8095238095238095 for K value  17
Accuracy is  0.8095238095238095 for K value  18
Accuracy is  0.8571428571428571 for K value  19
Accuracy is  0.8571428571428571 for K value  20
Accuracy is  0.8571428571428571 for K value  21
Accuracy is  0.9523809523809523 for K value  22
Accuracy is  0.8571428571428571 for K value  23
Accuracy is  0.9047619047619048 for K value  24
Accuracy is  0.9047619047619048 for K value  25
Accuracy is  0.9047619047619048 for K value  26
Accuracy is  0.9047619047619048 for K value  27
Accuracy is  0.9047619047619048 for K value  28
Accuracy is  0.9047619047619048 for K value  29
Accuracy is  0.9047619047619048 for K value  30

In [18]:
for k in my_dict:
    if my_dict[k] == max(my_dict.values()):
        print(k,':',my_dict[k])

14 : 0.9523809523809523
22 : 0.9523809523809523

In [19]:
model_knn = KNeighborsClassifier(n_neighbors=22, metric='euclidean') 
model_knn.fit(X_train, Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
                     metric_params=None, n_jobs=None, n_neighbors=22, p=2,
                     weights='uniform')

In [20]:
Y_pred = model_knn.predict(X_test) 
print(list(zip(Y_test, Y_pred)))

[(0, 0), (1, 1), (0, 0), (0, 0), (1, 1), (1, 1), (0, 0), (0, 0), (0, 0), (1, 1), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (0, 0), (1, 0), (0, 0)]

In [21]:
print(confusion_matrix(Y_test, Y_pred)) 
print(classification_report(Y_test, Y_pred))

[[14  0]
 [ 1  6]]
              precision    recall  f1-score   support

           0       0.93      1.00      0.97        14
           1       1.00      0.86      0.92         7

    accuracy                           0.95        21
   macro avg       0.97      0.93      0.94        21
weighted avg       0.96      0.95      0.95        21

In [22]:
print('Accuracy of the model: ',accuracy_score(Y_test,Y_pred))

Accuracy of the model:  0.9523809523809523